<a href="https://colab.research.google.com/github/soniatavarez/nyc_affordable_housing/blob/main/CIS9440_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Link to Dataset: https://data.cityofnewyork.us/Housing-Development/Affordable-Housing-Production-by-Building/hg8x-zxpr/about_data

In [10]:
import pandas as pd

In [11]:
#import data from nyc data website
df_raw=pd.read_csv('https://data.cityofnewyork.us/resource/hg8x-zxpr.csv?$limit=7253')

In [12]:
#exploring data
print(df_raw.shape)
print(df_raw.columns)

(7253, 41)
Index(['project_id', 'project_name', 'project_start_date',
       'project_completion_date', 'building_id', 'house_number', 'street_name',
       'borough', 'postcode', 'bbl', 'bin', 'community_board',
       'council_district', 'census_tract', 'neighborhood_tabulation_area',
       'latitude', 'longitude', 'latitude_internal', 'longitude_internal',
       'building_completion_date', 'reporting_construction_type',
       'extended_affordability_status', 'prevailing_wage_status',
       'extremely_low_income_units', 'very_low_income_units',
       'low_income_units', 'moderate_income_units', 'middle_income_units',
       'other_income_units', 'studio_units', '_1_br_units', '_2_br_units',
       '_3_br_units', '_4_br_units', '_5_br_units', '_6_br_units',
       'unknown_br_units', 'counted_rental_units',
       'counted_homeownership_units', 'all_counted_units', 'total_units'],
      dtype='object')

In [13]:
df_raw.head()

,project_id,project_name,project_start_date,project_completion_date,building_id,house_number,street_name,borough,postcode,bbl,...,_2_br_units,_3_br_units,_4_br_units,_5_br_units,_6_br_units,unknown_br_units,counted_rental_units,counted_homeownership_units,all_counted_units,total_units
0,44218,MEC E. 125TH ST. PARCEL B WEST,2018-12-31T00:00:00.000,2022-02-16T00:00:00.000,987329.0,2319,3 AVENUE,Manhattan,10035.0,1.017908e+09,...,129,15,0,0,0,0,297,0,297,404
1,44223,ROCHESTER SUYDAM PHASE 1,2021-06-30T00:00:00.000,NaN,927737.0,335,RALPH AVENUE,Brooklyn,11233.0,3.015560e+09,...,11,0,0,0,0,0,0,13,13,13
2,44223,ROCHESTER SUYDAM PHASE 1,2021-06-30T00:00:00.000,NaN,969695.0,35,ROCHESTER AVENUE,Brooklyn,11233.0,3.017090e+09,...,6,0,0,0,0,0,0,8,8,8
3,44223,ROCHESTER SUYDAM PHASE 1,2021-06-30T00:00:00.000,NaN,975702.0,18-22,SUYDAM PLACE,Brooklyn,11233.0,3.017090e+09,...,1,0,0,0,0,0,0,15,15,15
4,44223,ROCHESTER SUYDAM PHASE 1,2021-06-30T00:00:00.000,NaN,977564.0,329,RALPH AVENUE,Brooklyn,11233.0,3.015560e+09,...,7,0,0,0,0,0,0,10,10,10

In [14]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 41 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   project_id                     7253 non-null   int64
 1   project_name                   7253 non-null   object
 2   project_start_date             7253 non-null   object
 3   project_completion_date        5486 non-null   object
 4   building_id                    5796 non-null   float64
 5   house_number                   7253 non-null   object
 6   street_name                    7253 non-null   object
 7   borough                        7253 non-null   object
 8   postcode                       5745 non-null   float64
 9   bbl                            5677 non-null   float64
 10  bin                            5677 non-null   float64
 11  community_board                7253 non-null   object
 12  council_district               7253 non-null   int64
 13  census_tract                   0 non-null      float64
 14  neighborhood_tabulation_area   5752 non-null   object
 15  latitude                       5745 non-null   float64
 16  longitude                      5745 non-null   float64
 17  latitude_internal              5671 non-null   float64
 18  longitude_internal             5671 non-null   float64
 19  building_completion_date       5711 non-null   object
 20  reporting_construction_type    7253 non-null   object
 21  extended_affordability_status  7253 non-null   object
 22  prevailing_wage_status         7253 non-null   object
 23  extremely_low_income_units     7253 non-null   int64
 24  very_low_income_units          7253 non-null   int64
 25  low_income_units               7253 non-null   int64
 26  moderate_income_units          7253 non-null   int64
 27  middle_income_units            7253 non-null   int64
 28  other_income_units             7253 non-null   int64
 29  studio_units                   7253 non-null   int64
 30  _1_br_units                    7253 non-null   int64
 31  _2_br_units                    7253 non-null   int64
 32  _3_br_units                    7253 non-null   int64
 33  _4_br_units                    7253 non-null   int64
 34  _5_br_units                    7253 non-null   int64
 35  _6_br_units                    7253 non-null   int64
 36  unknown_br_units               7253 non-null   int64
 37  counted_rental_units           7253 non-null   int64
 38  counted_homeownership_units    7253 non-null   int64
 39  all_counted_units              7253 non-null   int64
 40  total_units                    7253 non-null   int64
dtypes: float64(9), int64(20), object(12)
memory usage: 2.3+ MB

In [15]:
#creating a clean copy to drop null column
df_cleaned= df_raw.copy()

In [18]:
df_cleaned = df_raw.drop(columns=  ['census_tract'])
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 40 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   project_id                     7253 non-null   int64
 1   project_name                   7253 non-null   object
 2   project_start_date             7253 non-null   object
 3   project_completion_date        5486 non-null   object
 4   building_id                    5796 non-null   float64
 5   house_number                   7253 non-null   object
 6   street_name                    7253 non-null   object
 7   borough                        7253 non-null   object
 8   postcode                       5745 non-null   float64
 9   bbl                            5677 non-null   float64
 10  bin                            5677 non-null   float64
 11  community_board                7253 non-null   object
 12  council_district               7253 non-null   int64
 13  neighborhood_tabulation_area   5752 non-null   object
 14  latitude                       5745 non-null   float64
 15  longitude                      5745 non-null   float64
 16  latitude_internal              5671 non-null   float64
 17  longitude_internal             5671 non-null   float64
 18  building_completion_date       5711 non-null   object
 19  reporting_construction_type    7253 non-null   object
 20  extended_affordability_status  7253 non-null   object
 21  prevailing_wage_status         7253 non-null   object
 22  extremely_low_income_units     7253 non-null   int64
 23  very_low_income_units          7253 non-null   int64
 24  low_income_units               7253 non-null   int64
 25  moderate_income_units          7253 non-null   int64
 26  middle_income_units            7253 non-null   int64
 27  other_income_units             7253 non-null   int64
 28  studio_units                   7253 non-null   int64
 29  _1_br_units                    7253 non-null   int64
 30  _2_br_units                    7253 non-null   int64
 31  _3_br_units                    7253 non-null   int64
 32  _4_br_units                    7253 non-null   int64
 33  _5_br_units                    7253 non-null   int64
 34  _6_br_units                    7253 non-null   int64
 35  unknown_br_units               7253 non-null   int64
 36  counted_rental_units           7253 non-null   int64
 37  counted_homeownership_units    7253 non-null   int64
 38  all_counted_units              7253 non-null   int64
 39  total_units                    7253 non-null   int64
dtypes: float64(8), int64(20), object(12)
memory usage: 2.2+ MB