In [2]:
!pip install psycopg2 sqlalchemy
!pip install azure-storage-blob

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 12.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: sqlalchemy in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (1.4.39)
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp311-cp311-macosx_11_0_arm64.whl size=132038 sha256=5096fea0dc3346625420de13b7fd4c3fb9eaa77e253cd12055c6a594e13b3460
  Stored in directory: /Users/soniatavarez/Library/Caches/pip/wheels/ab/34/b9/78ebef1b3220b4840ee482461e738566c3c9165d2b5c914f51
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Requirement already satisfied: azure-storage-blob in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (12.19.1)
Requirement already satisfied: azure-core<2.0.0,>=1.28.0 in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (from azure-storage-blob) (1.30.1)
Requirement already satisfied: cryptography>=2.1.4 in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (from azure-storage-blob) (41.0.3)
Requirement already satisfied: typing-extensions>=4.3.0 in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (from azure-storage-blob) (4.11.0)
Requirement already satisfied: isodate>=0.6.1 in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (from azure-storage-blob) (0.6.1)
Requirement already satisfied: requests>=2.21.0 in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (from azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2.31.0)
Requirement already satisfied: six>=1.11.0 in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (from azure-core<2.0.0,>=1.28.0->azure-storage-blob) (1.16.0)
Requirement already satisfied: cffi>=1.12 in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (from cryptography>=2.1.4->azure-storage-blob) (1.15.1)
Requirement already satisfied: pycparser in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (from cffi>=1.12->cryptography>=2.1.4->azure-storage-blob) (2.21)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/soniatavarez/anaconda3/lib/python3.11/site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2024.2.2)

In [13]:
import pandas as pd
import numpy as np
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient
from sqlalchemy import create_engine
from io import StringIO
from io import BytesIO

In [8]:
#config file/connection string setup 
config_file_path = 'config.json'

with open(config_file_path, 'r') as config_file:
    config = json.load(config_file)

In [9]:
CONNECTION_STRING_AZURE_STORAGE = config["connectionString"]
CONTAINER_AZURE='affordablehousing'

blob_service_client = BlobServiceClient.from_connection_string(CONNECTION_STRING_AZURE_STORAGE)
container_client = blob_service_client.get_container_client(CONTAINER_AZURE)

In [10]:
def azure_download_blob(connect_str, container_name, blob_name):
    blob_service_client = BlobServiceClient.from_connection_string(connect_str)
    blob_client = blob_service_client.get_blob_client(container=container_name, blob=blob_name)
    download_stream = blob_client.download_blob()
    return download_stream.readall()

In [11]:
download_data=azure_download_blob(CONNECTION_STRING_AZURE_STORAGE, CONTAINER_AZURE, 'cleaned_affordablehousingdata.csv')

In [14]:
#converting csv download into df
download_data=pd.read_csv(BytesIO(download_data))
download_data

,project_id,project_name,building_id,house_number,street_name,borough,postcode,latitude,longitude,reporting_construction_type,...,_3_br_units,_4_br_units,_5_br_units,_6_br_units,counted_rental_units,counted_homeownership_units,all_counted_units,total_units,total_low_income_units,total_non_low_income_units
0,44218,MEC E. 125TH ST. PARCEL B WEST,987329,2319,3 AVENUE,Manhattan,10035.0,40.804262,-73.935383,New Construction,...,15,0,0,0,297,0,297,404,202,93
1,44225,Brook Avenue Apartments,927748,469,EAST 147 STREET,Bronx,10455.0,40.813854,-73.916400,New Construction,...,0,0,0,0,11,0,11,11,11,0
2,44225,Brook Avenue Apartments,955261,455,EAST 147 STREET,Bronx,10455.0,40.813948,-73.916682,New Construction,...,1,0,0,0,55,0,55,55,54,0
3,44230,Mermaid / West. 16th Street,336111,2427,MERMAID AVENUE,Brooklyn,11224.0,40.575896,-73.991490,New Construction,...,2,0,0,0,2,1,3,3,0,3
4,44230,Mermaid / West. 16th Street,336151,3216,MERMAID AVENUE,Brooklyn,11224.0,40.575062,-73.998834,New Construction,...,2,0,0,0,2,1,3,3,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4053,74669,731 LIBERTY AVENUE APARTMENTS,989464,735,LIBERTY AVENUE,Brooklyn,11208.0,40.676466,-73.882637,New Construction,...,0,0,0,0,3,0,3,10,0,3
4054,74671,729 731 EAST 32ND ST,1006551,729,EAST 32 STREET,Brooklyn,11210.0,40.633299,-73.945770,New Construction,...,0,0,0,0,2,0,2,6,0,2
4055,74671,729 731 EAST 32ND ST,1006620,731,EAST 32 STREET,Brooklyn,11210.0,40.633267,-73.945766,New Construction,...,0,0,0,0,2,0,2,6,0,2
4056,74673,61 EAST 53 ST,1009851,61,EAST 53 STREET,Brooklyn,11203.0,40.658937,-73.928211,New Construction,...,10,0,0,0,20,0,20,20,0,20
4057,74824,2638 DECATUR AVE,991367,2638,DECATUR AVENUE,Bronx,10458.0,40.863802,-73.889826,New Construction,...,0,0,0,0,23,0,23,24,0,23